/* Crystal Dimensions */

.crystals{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.crystal{
	border:1px solid red;
	height:200px;
	width: 200px;
	border-radius: 4px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}


/* Text color */

#result{
    color: white;
}
#previous{
    color: white;
}

#win{
    color: white;

}

#lost{
    color: white;

}

/* Background */
body {
background-image: url(../images/mine-background.jpg);
padding:200px 100px;
margin:100px ;
background-size: cover;
}